body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:393px;
}
#u274 {
  position:absolute;
  left:0px;
  top:496px;
  width:1040px;
  height:393px;
}
#u275 {
  position:absolute;
  left:2px;
  top:188px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:288px;
}
#u276 {
  position:absolute;
  left:0px;
  top:889px;
  width:1040px;
  height:288px;
}
#u277 {
  position:absolute;
  left:2px;
  top:136px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:496px;
}
#u278 {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:496px;
}
#u279 {
  position:absolute;
  left:2px;
  top:240px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:35px;
}
#u280 {
  position:absolute;
  left:94px;
  top:7px;
  width:121px;
  height:35px;
}
#u281 {
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
