<div class="row content">
  <div class="col-6 text-center">
    <label class="col-form-label">學童編號：</label>
  </div>
  <div class="col-6 text-left">
    <label class="col-form-label">{{ childId }}</label>
  </div>
</div>
<div class="row content">
  <div class="col-6 text-center">
    <label class="col-form-label">學童點數：</label>
  </div>
  <div class="col-6 text-left">
    <label class="col-form-label">{{ childPoint }}</label>
  </div>
</div>
<div class="row content">
  <div class="col-12 text-center">
    <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="chkCheck()">確定</button>
  </div>
</div>
<div class="row content">
  <div class="col-12 text-center">
    <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" (click)="debug()" [(ngModel)]="isDebug">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">情境模擬 - 點數不足</span>
        </label>
  </div>
</div>
