/* 手機模式 - 100% 寬度 */

@media screen and (max-width: 48em) {
  .btn.btn-maxw {
    width: 100%;
  }
}

button,
input {
  height: 7rem;
  font-size: 4rem !important;
}

.form-control {
  font-size: 3rem !important;
}
