<div class="row content">
  <div class="col-lg-6">
    <form>
      <div class="form-group">
        <label for="childId">確認學童帳號：</label>
        <input type="text" name="childId" id="childId" class="form-control" [(ngModel)]="uid" readonly>
      </div>
      <div class="form-group">
        <label for="childName">確認學童姓名：</label>
        <input type="text" name="childName" id="childName" class="form-control" [(ngModel)]="uname" readonly>
        <small *ngIf="qrcode_error" class="form-text text-danger">QR code 解析失敗，請重新掃描！</small>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block" routerLink="/storelogin">確定</button>
    </form>
  </div>
</div>
