body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:1600px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:1040px;
  height:1600px;
}
#u137 {
  position:absolute;
  left:2px;
  top:792px;
  width:1036px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u138 {
  position:absolute;
  left:394px;
  top:46px;
  width:121px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u140 {
  position:absolute;
  left:515px;
  top:46px;
  width:50px;
  height:30px;
}
#u140_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
}
#u140_input:disabled {
  color:grayText;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u141 {
  position:absolute;
  left:588px;
  top:48px;
  width:73px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u143 {
  position:absolute;
  left:653px;
  top:46px;
  width:120px;
  height:30px;
}
#u143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
}
#u143_input:disabled {
  color:grayText;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u144 {
  position:absolute;
  left:30px;
  top:30px;
  width:50px;
  height:50px;
}
#u145 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u146 {
  position:absolute;
  left:90px;
  top:40px;
  width:395px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  word-wrap:break-word;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#1E1E1E;
}
#u148 {
  position:absolute;
  left:783px;
  top:44px;
  width:53px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#1E1E1E;
}
#u149 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#1E1E1E;
}
#u150 {
  position:absolute;
  left:865px;
  top:45px;
  width:53px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#1E1E1E;
}
#u151 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  white-space:nowrap;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u152 {
  position:absolute;
  left:0px;
  top:100px;
  width:520px;
  height:40px;
  font-size:20px;
}
#u153 {
  position:absolute;
  left:2px;
  top:8px;
  width:516px;
  word-wrap:break-word;
}
#u154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u154 {
  position:absolute;
  left:520px;
  top:100px;
  width:520px;
  height:40px;
  font-size:20px;
}
#u155 {
  position:absolute;
  left:2px;
  top:8px;
  width:516px;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u156 {
  position:absolute;
  left:290px;
  top:289px;
  width:97px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u158 {
  position:absolute;
  left:290px;
  top:389px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
}
#u159 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u160 {
  position:absolute;
  left:387px;
  top:289px;
  width:300px;
  height:40px;
}
#u160_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u161 {
  position:absolute;
  left:387px;
  top:389px;
  width:300px;
  height:40px;
}
#u161_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:40px;
}
#u162 {
  position:absolute;
  left:330px;
  top:559px;
  width:320px;
  height:100px;
  font-size:40px;
}
#u163 {
  position:absolute;
  left:2px;
  top:27px;
  width:316px;
  word-wrap:break-word;
}
