<!doctype html>
<html lang="tw-zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>iShare - 愛心便當收銀系統</title>
    <base href="./">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="./dashboard/styles.c287f598a9a61d7a895c.bundle.css" rel="stylesheet" />
</head>

<body id="page-top">
    <app-root></app-root>
    <script type="text/javascript" src="./dashboard/inline.4246b493891a5f9d9af9.bundle.js"></script>
    <script type="text/javascript" src="./dashboard/polyfills.0963b44a58b5526cfab7.bundle.js"></script>
    <script type="text/javascript" src="./dashboard/scripts.c91807803d6cbb200a4f.bundle.js"></script>
    <script type="text/javascript" src="./dashboard/vendor.e20131f42a56daa089f8.bundle.js"></script>
    <script type="text/javascript" src="./dashboard/main.c97caed439022fb5ef76.bundle.js"></script>
</body>

</html>