<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Meal</title>
    <base href="./">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="./qrcode/styles.93a41b53354cb391b76d.bundle.css" rel="stylesheet" />
</head>

<body>
    <app-root></app-root>
    <script type="text/javascript" src="./qrcode/inline.8c598164288a1f2ee686.bundle.js"></script>
    <script type="text/javascript" src="./qrcode/polyfills.0963b44a58b5526cfab7.bundle.js"></script>
    <script type="text/javascript" src="./qrcode/scripts.9fae3f64e8d1ceda38cf.bundle.js"></script>
    <script type="text/javascript" src="./qrcode/vendor.f46d09ee49e4e0fd6d6c.bundle.js"></script>
    <script type="text/javascript" src="./qrcode/main.40f9eac7f74f6e51ebb8.bundle.js"></script>
</body>

</html>