<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Meal</title>
    <base href="./">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="./qrcode/styles.72eecf024cdded2ba2b2.bundle.css" rel="stylesheet" />
</head>

<body>
    <app-root></app-root>
    <script type="text/javascript" src="./qrcode/inline.bef4a1ccbd41a107de7e.bundle.js"></script>
    <script type="text/javascript" src="./qrcode/polyfills.0963b44a58b5526cfab7.bundle.js"></script>
    <script type="text/javascript" src="./qrcode/scripts.788ee2a60ebd9acb8aff.bundle.js"></script>
    <script type="text/javascript" src="./qrcode/vendor.f46d09ee49e4e0fd6d6c.bundle.js"></script>
    <script type="text/javascript" src="./qrcode/main.b0478c41977aab9eab1f.bundle.js"></script>
</body>

</html>