<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Meal</title>
    <base href="./">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="./qrcode/styles.508e1b0e5a52d3f1e20d.bundle.css" rel="stylesheet" />
</head>

<body>
    <app-root></app-root>
    <script type="text/javascript" src="./qrcode/inline.8abb163b11ae9ae178db.bundle.js"></script>
    <script type="text/javascript" src="./qrcode/polyfills.0963b44a58b5526cfab7.bundle.js"></script>
    <script type="text/javascript" src="./qrcode/scripts.b2a4421a0a2e58ccc038.bundle.js"></script>
    <script type="text/javascript" src="./qrcode/vendor.dbf0de8f5c974c849248.bundle.js"></script>
    <script type="text/javascript" src="./qrcode/main.571c41f0d98d745b53e9.bundle.js"></script>
</body>

</html>